choice
prompt "Core Board Version"
depends on PRODUCT_X1000_BEETHOVEN
default BOARD_X1000_BEETHOVEN_V10

config BOARD_X1000_BEETHOVEN_V10
bool "board x1000 beethoven"
depends on PRODUCT_X1000_BEETHOVEN

config BOARD_X1000_BEETHOVEN_CMD
bool "board x1000 beethoven CMD"
depends on PRODUCT_X1000_BEETHOVEN

config BOARD_X1000_BEETHOVEN_HBWY
bool "board x1000 beethoven HBWY"
depends on PRODUCT_X1000_BEETHOVEN

endchoice

config BOARD_NAME
string
default "beethoven_v10" if BOARD_X1000_BEETHOVEN_V10
default "beethoven_cmd" if BOARD_X1000_BEETHOVEN_CMD
default "beethoven_hbwy" if BOARD_X1000_BEETHOVEN_HBWY